<%= simple_form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="alert alert-danger">
      <h4>Warning! You have some errors:</h4>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { id: 'name_input' } %>
    <%= f.input :address, input_html: { id: 'address_input' } %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
  </div>

  <div class="form-actions btn-primary btn">
    <%= f.button :submit %>
  </div>
<% end %>


<script>
  document.querySelector("#name_input").addEventListener("input", () => {
    let restaurant = <%= raw @restaurants %>.filter(restaurant => restaurant.id === parseInt(event.currentTarget.value)) || []
    document.querySelector("#address_input").value = restaurant[0]?.address || ""
  })
</script>
